.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  margin-top: 2rem;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60rem;
}
.taskControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 54rem;
  margin-bottom: 1rem;
 
}


.createdTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 17px;
  color: var(--blue-500);
}

.createdTask span {
  background: var(--gray-300);
  color: var(--gray-200);
  border-radius: 180px;
  padding: 0.2rem 0.5rem;
}

.concluedTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 17px;
  color: var(--purple-300);
}

.concluedTask span {
  background: var(--gray-300);
  color: var(--gray-200);
  border-radius: 180px;
  padding: 0.2rem 0.5rem;
}

.displayTasks {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 50vh;
}

.emptyTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1;
  height: 20vh;
  margin-top: 2rem;
  border-top: 1px solid var(--gray-100);
  border-radius: 8px;
}

.emptyTasks strong {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.emptyTasks p {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

/* Responsivo para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
  .wrapper {
    width: 390px
  }

  .taskControls {
    width: 350px;
    font-size: 0.875rem;
    
  }

  .emptyTasks {
    width: 350px;
    margin-left: 1rem;
    align-items: center;
  }
  .emptyTasks strong{
    font-size: 0.875rem
  }
  .displayTasks{
    width: 98%;

  }
} 
